html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background-position: center top;
	background-repeat: no-repeat;
	// @include media-breakpoint-up(sm) {

	// 	margin-left: calc(100vw - 100%);
	// 	margin-right: 0;
	// }

	// background-image: url(../screen/main.png);
}


body {
	// opacity: .7;
	// min-height: 10000px;  
	background: #DBF0F1;
}

.mono {
	font-family: $font-family-monospace;
}

.second-font {
	font-family: $second-font;
}

.middle-col {

	@include media-breakpoint-up(xl) {
	padding: 0  ;
	}
	// @include media-breakpoint-down(lg) {
	// 	padding: 0 rem(30) !important;
	// }
	// @include media-breakpoint-down(sm) {
	 
	// }
}

.small {
	font-size: $small;
}

.main-thanks {
	background-color: $primary;
	padding: rem(25) rem(15) 0;
}

.main {
	background-color: #fff;
	padding: rem(25) rem(15) 0;

	.main-city-img{
		width: 100%;
		height: auto;
		margin-bottom: rem(30);
	}
	.popular {
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-around;
		justify-content: center;
		padding: rem(30) 0;
		margin-left: rem(-7px);
		margin-right: rem(-7px);
	}

	.popular__item {
		margin-bottom: rem(30);
		margin-left: rem(7px);
		margin-right: rem(7px);
		.item__top {
			min-height: rem(130);
			position: relative;
			background-color: #DAF1F0;
			padding: rem(9) rem(9) rem(15);

			&:hover {
				background-color: $primary;
				box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, .04);
			}
		}

		.item__bottom {
			color: #000000;
			border: rem(1) solid #E8EDE6;
			border-top: none;
			background-color: #FFFFFF;
			line-height: rem(36);
			text-align: center;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			font-size: rem(14);
		}
	}

	.popular__title {
		margin-top: rem(6);
		line-height: rem(41);
		font-size: rem(34);
		letter-spacing: rem(1);
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
	}

	.section {
		position: relative;
		background-color: $primary;

		.logo {
			position: absolute;
		}
		
		.title {
			font-weight: 700;
			line-height: rem(41);
			font-size: rem(34);
			color: #FFFFFF;
			letter-spacing: rem(1);
			text-transform: uppercase;
			
		}
	}
	
	.section-list {
		padding: rem(30) rem(90) !important;
		@include media-breakpoint-down(sm) {
			padding: rem(30) rem(40) !important;
		}
		&__logo {
			right: rem(40);
			bottom: rem(30);
			width: rem(172);
			height: auto;
		}

		&__list {
			counter-reset: myCounter;
			padding: 0;
			margin: rem(25) 0 0;
		}

		&__item {
			list-style: none;
			line-height: 15px;
			font-size: 15px;
			color: #FFFFFF;
			letter-spacing: 0px;
			position: relative;
			padding-left: rem(40);
			margin-bottom: rem(20);
			&::before {
				counter-increment: myCounter;
				content: counter(myCounter);
				position: absolute;
				color: $primary;
				left: 0;
				top: rem(-5);
				font-weight: 700;
				background: #fff;
				display: inline-block;
				text-align: center;
				line-height: rem(27);
				width: rem(30);
				height: rem(30);
				border-style: solid;
				border-width: 1px;
				border-color: #0071BC;
				margin: 0 rem(10) rem(5) 0;
			}
		}
		@include media-breakpoint-down(sm) {
			padding-left: rem(10) !important;
			padding-right: rem(10) !important;
		}
	}

	.news-block {
		background-color: #fff;
		padding-top: rem(40);
		padding-bottom: rem(20);
		&:not(:last-child){
			border-bottom: 1px solid #F5F5F5;
		}
		img {
			max-width: 100%;
			height: auto;
			@include media-breakpoint-up(sm) {
				float: left;
				max-width: rem(255);
				margin-right: rem(20);
				
			}
			margin-bottom: rem(5);
		}

		&__title {
			padding-right: rem(40);
			font-size: $h2-font-size;
			text-align: left;
			text-transform: uppercase;
			line-height: rem(41);
			font-weight: 700;
			margin-bottom: rem(15);
		}

		&__main {
			margin-bottom: rem(15);
			font-size: rem(14);
			font-weight: 300;
			line-height: rem(20);

			li {
				position: relative;
				list-style: none;
				line-height: rem(21);
				margin-bottom: rem(5);

				&::before {
					content: '-';
					position: absolute;
					left: rem(-12);
				}
			}
		}
	}

	
}


.h2{
	line-height: rem(41);
	font-size: rem(34);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}
.map-nav{
	.h2{
	margin-bottom: rem(20);
	}
	&__left-col{
		padding-left: rem(55) !important;
		@include media-breakpoint-down(sm) {
			padding-left: rem(5) !important;
		}
	}
	&__list{
		margin-bottom: 0;
		list-style: none;
		line-height: rem(15);
		font-size: rem(14);
		padding-left: rem(30);
	}
	&__item{
		position: relative;
		margin-bottom: rem(10);
		&::before{
			content: '•';
			font-size: rem(24);
			color: #f7931e;
			position: absolute;
			left: rem(-12);
		}
		a{
			color: #000000;
		}
	}
	&__row{
		margin-bottom: rem(30);
	}
}

.map-section{
	padding: 0 !important;
	position: relative;
	margin-top: rem(50);
	margin-bottom: rem(40);
	color: #fff;
	&__section-doctor{
		position: absolute;
		bottom: 0;
		left: rem(15);
		max-width: rem(240);
		height: auto;
		@include media-breakpoint-down(lg) {
			left: 30%;
		}
	}
	&__main{
		padding: rem(40) 0;
		max-width: rem(316);
		@include media-breakpoint-down(sm) {
			max-width: none;
			text-align: center;
		}
	}
	&__title{
		line-height: rem(41);
		font-size: rem(34);
		letter-spacing: 1px;
		font-weight: 700;	
	}
	&__main-text{
    line-height: rem(21);
		letter-spacing: 1px;
		font-weight: 300;
		font-size: rem(14);
		margin-bottom: rem(25);
	}
	&__btn{
		@extend .btn;
		@extend .btn-warning;
	}
}

.price-btn{
	display: flex;
	justify-content: space-around;
	&__btn{
		display: flex;
		max-width: rem(270);
		margin-top: rem(40);
		@extend .btn;
		@extend .btn-warning;
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(40);
			margin-top: 0;
		}
	}
}

.page-title{
	margin-bottom: rem(20);
}

.article-img{
	width: 100%;
	height: auto;
	margin-bottom: rem(25);
}

.article-docs{
	max-width: rem(520);
	width: 100%;
	height: auto;
	margin-bottom: rem(40);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	border-style: solid;
	border-width: 1px;
	border-color: #E8EDE6;
}

.article-text{
	font-size: rem(14);
	font-weight: 300;
	line-height: rem(21);
}

.main-side-photo{
	width: 100%;
	max-width: rem(285);
	float: left;
	margin-right: rem(20);
}

.part-title{
	margin-top: rem(30);
	margin-bottom: rem(30);
	letter-spacing: 1px;
	color: #EE7467;
	position: relative;
	display: inline-block;
	&::before{
		display: block;
		position: absolute;
		content: "";
		height: rem(2);
		width: 100%;
		background: #EE7467;
		left: 0;
		bottom: rem(-5);
	}
}

.margin-top{
	margin-top: rem(50);
}

.docs-info{
	&__item{
		margin-top: rem(40);
		position: relative;
		padding-left: rem(160);
	}
	&__image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: rem(144);
		height: auto;
	}
}



.doc-side-photo{
	background-color: $primary;
	float: left;
	margin-right: rem(20);
	@include media-breakpoint-down(sm) {
		float: none;
	}
	.doc-mini{
		padding: rem(15);
		width: 100%;
		max-width: rem(315);
		height: auto;
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
	}
	a{
		position: relative;
		&::before{
			opacity: 0;
			content: "";
			background-image: url(../img/open-glass.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: rem(64);
			height: rem(64);
			@include a-cent($xy:xy);
			transition: opacity .2s ease;
		}
		&:hover::before{
			opacity: 1;
		}
	}
}

.doc-description{
	&__item{
		margin-top: rem(20);
		margin-left: rem(335);
		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}
	}
	&__title{
		padding-left: rem(18);
		background-color: #F5F5F5;
		line-height: rem(31);
    font-size: rem(26);
    letter-spacing: 1px;
	}
	&__text{
		margin-top: rem(10);
		padding-left: rem(18);
	}
	&__subtext{
		padding-left: rem(18);
		line-height: 31px;
    font-size: 26px;
    color: #EE7467;
		letter-spacing: 1px;
		font-weight: 700;
		margin-top: rem(10);
	}
	.deliver{
		margin-top: rem(40);
	}
}

.tabs{
	margin-top: rem(30);
	&__caption{
		margin-bottom: rem(20);
		display: flex;
		justify-content: space-around;
		// @include media-breakpoint-down(sm) {
		// 	justify-content: space-between;
		// }
		.active{
			border-bottom: 2px solid $primary;
			color: $primary;
			transition: all .2s ease;
		}
	}
	&__btn{
		border-bottom: 2px solid transparent;
		line-height: 25px;
		letter-spacing: 1px;
		&:hover{
			color: $primary;
		}
		@include media-breakpoint-down(xs) {
			font-size: rem(17);
		}
	}
	&__content{
		min-height: rem(200);
		.video-wrap{
			@include block(617, 350);
			margin-bottom: rem(30);
			iframe{
				position: absolute;
				width: 100% !important;
				height: 100% !important;
				left: 0;
				top: 0;
				border: 0 ; 
			}
		}
	}
}

.docs-reviews{
	margin-top: rem(30);
	margin-bottom: rem(40);
	&__item{
		padding: rem(30) rem(20) rem(30) rem(25);
		background-color: #F5F5F5;
		border-style: solid;
    border-width: 1px;
		border-color: #E8EDE6;
		margin-bottom: rem(15);
	}
	&__title{
		font-weight: 700;
		margin-bottom: rem(15);
	}
	&__date{
		margin-top: rem(10);
		float: right;
		font-weight: 300;
		font-size: rem(14);
	}
	&__subtitle{
		font-weight: 700;
		margin-bottom: rem(15);
	}
}

.leave-feedback{
	padding-left: rem(15);
	padding-right: rem(15);
	margin-bottom: rem(70);
	background-color: $primary;
	color: #fff;
	padding-top: rem(30);
	padding-bottom: rem(30);
	&__title{
		text-align: center;
		margin-bottom: rem(10);
	}
	&__item{
		max-width: rem(514);
		margin: 0 auto;
	}
	&__input-title{
		font-weight: normal;
		margin-bottom: rem(5);
	}
	&__docs-btn{
		margin-top: rem(20);
		@extend .btn;
		@extend .btn-warning;
		.btn_image{
			margin-top: rem(-35);
			
		}
	}
}

// .side-block{
// 	margin-bottom: rem(30);
// 	box-shadow: 0 3px 8px rgba(0,0,0,.04);
// 	font-size: rem(14);
// 	max-width: rem(280);
// 	.side-main{
// 		border-style: solid;
// 		border-color: #e8ede6;
// 		border-width: 0 1px 1px;
// 		padding: rem(15); 
// 		background-color: $light;
// 		.btn-side{
// 			@extend .btn;
// 			@extend .btn-warning;
// 		}
// 		ul{
// 			line-height: 17px;
// 			padding: 0;
// 			list-style: none;
// 		}
// 		li{
// 			margin-bottom: rem(10);
// 			&::before{
// 				content: '•';
// 				margin-right: rem(5);
// 				font-size: 20px;
// 				color: #f7931e;
// 			}
// 		}
// 	}
// 	.side-title{
// 		letter-spacing: rem(1);
// 		line-height: rem(26);
// 		padding: rem(15) 0 rem(10) rem(15);
// 		font-family: $second-font;
// 		background-color: $primary;
// 		font-size: $h3-font-size;
// 		color: #fff;
// 	}
// }

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
	@include bgs;

	@include media-breakpoint-up(md) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.section-title {
	@extend .h2;
	padding-bottom: em(10);

	>h2 {
		font-size: inherit;

		@include media-breakpoint-up(md) {}
	}
}


// @include media-breakpoint-up(lg) {
// 	.container {
// 		// padding-left: 0;
// 		// padding-right: 0;
// 	}
// }

body,
html {
	@include media-breakpoint-up(md) {
		font-size: $em-base;
	}
	font-size: 14px;
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;

			// opacity: 1;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;

}


.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;

		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}

input,
textarea {
	@include input-placeholder {
		// color: red;
	}

	;
}


.res-i {
	max-width: 100%;
	width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/bott.svg);
// 	background-repeat: no-repeat;
// 	background-position: 97% 50%; // background-size: rem(18) ;
// 	padding-right: rem(23px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {
// 		// Suppress the nested default white text on blue background highlight given to
// 		// the selected option text when the (still closed) <select> receives focus
// 		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
// 		// match the appearance of the native widget.
// 		// See https://github.com/twbs/bootstrap/issues/19398.
// 		color: $input-color;
// 		background-color: $input-bg;
// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	// opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}