extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-work/_s-work.pug
include ../blocks/side-blocks/_side-blocks.pug

block title
	title Новости

block pagecontent
	.main-wrapper(style="background-image: url(../img/header-bg-2.jpg)")
		//- +mob-mnu()

		+header()
			+top-line()
			+top-nav()
			+header-block-2("Статья о временной нетрудоспособности учащегося","img/article.jpg","(Справка форма 095/у)")

		.container.main
			+breadcrumb("Главная","Статьи","О справке формы 095 у")
			.row
				.col-xl.middle-col
					.h2.second-font.page-title СПРАВКА 095 О ВРЕМЕННОЙ НЕТРУДОСПОСОБНОСТИ ДЛЯ ДЕТСКОГО САДА, ШКОЛЫ
					img.article-img(src="img/article-1.jpg", alt="#")
					p.article-text Если ребенок не&nbsp;посещал школу или детский сад несколько дней, уважительной причиной считают наличие справки формы 095/у. Период, на&nbsp;которые ребенок освобожден от&nbsp;занятий с&nbsp;данной справкой,&nbsp;&mdash; до&nbsp;двух недель. Если ребенок заболел не&nbsp;очень серьезным заболеванием, после вызова педиатра, не&nbsp;обязательно вести маленького пациента в&nbsp;детскую поликлинику, где он&nbsp;может подхватить другие инфекции. Намного проще приобрести справку 095/у у&nbsp;нас в&nbsp;офисе, не&nbsp;подвергая малыша дополнительному дискомфорту и&nbsp;риску, не&nbsp;придется долго стоять в&nbsp;очередях.
					img.article-docs(src="img/095.jpg", alt="#")
					.h2.second-font.page-title СПРАВКА ЗДОРОВОМУ ЧЕЛОВЕКУ О НЕТРУДОСПОСОБНОСТИ
					p.article-text Иногда в&nbsp;нашей судьбе встречаются непредвиденные проблемы&nbsp;&mdash; требуется срочно выехать по&nbsp;делам, посидеть дома или оказать помощь близким. Не&nbsp;каждый классный руководитель может закрыть на&nbsp;это глаза. Даже если удается договориться с&nbsp;учителем, у&nbsp;него все равно есть руководители повыше, настроенные не&nbsp;так лояльно. Документально подтвердить, что школьник или студент правомерно отсутствует на&nbsp;месте в&nbsp;учебное время&nbsp;&mdash; это обеспечит охрану в&nbsp;правовом плане самого учащегося. Ему не&nbsp;придется ссориться или что-то доказывать неуступчивым преподавателям. Оформляя справку о&nbsp;своей нетрудоспособности, вы&nbsp;легко и&nbsp;просто решаете множество проблем.
					.h2.second-font.page-title СПРАВКА 095 В ВУЗ, ЛИЦЕЙ, ШКОЛУ, ДЕТСАД
					p.article-text Ребенок отсутствовал в&nbsp;институте, школьном заведении или детсаду некоторое время? Это не&nbsp;страшно&nbsp;&mdash; справка 095 прикроет все последствия. Даже если ребенок действительно заболел, иногда лучше сразу начать лечить его. Справка избавит вас от&nbsp;скучных стояний в&nbsp;очередях, родителям не&nbsp;нужно отпрашиваться с&nbsp;рабочего места и&nbsp;терять доход, не&nbsp;требуется рисковать своим и&nbsp;детским здоровьем, находясь в&nbsp;местах скопления больных детей.
					p.article-text Если студент по&nbsp;какой-то причине пропустил экзамены, лекции, зачеты, справка 095 станет его &laquo;палочкой-выручалочкой&raquo; перед лицом преподавателей. Справка правомерна на&nbsp;дневном и&nbsp;заочном обучении. Многие студенты параллельно с&nbsp;учебой работают&nbsp;&mdash; справка поможет решить проблему неуспеваемости. Справка о&nbsp;нетрудоспособности спасет тех, кто хочет избежать участия в&nbsp;соревнованиях. Форма 095&nbsp;на две недели освобождает от&nbsp;занятий физкультурой, а&nbsp;иногда&nbsp;&mdash; на&nbsp;целый месяц.
					p.article-text Если дети часто болеют такими привычными заболеваниями как грипп, ангина, ОРЗ, мало кто из&nbsp;родителей стремится обращаться в&nbsp;поликлинику по&nbsp;месту жительства. Опасность подхватить еще несколько вирусов, гигантские очереди, потеря времени, толчея и&nbsp;измотанные нервы&nbsp;&mdash; кому это нужно? Все привычные лекарства имеются, педиатр не&nbsp;расскажет ничего нового о&nbsp;привычных инфекциях. Оптимальное решение&nbsp;&mdash; просто купить справку 095 и&nbsp;остаться лечиться дома до&nbsp;полнейшего выздоровления ребенка.
					p.article-text Но&nbsp;не&nbsp;только при заболевании поможет справка о&nbsp;нетрудоспособности 095. Иногда случается, что идти в&nbsp;учебное заведение не&nbsp;хочется. Накопившееся в&nbsp;учебном процессе утомление дает о&nbsp;себе знать, учащийся не&nbsp;в&nbsp;состоянии усваивать материал. Ученик просто не&nbsp;имеет сил, чтобы идти в&nbsp;школу или институт и&nbsp;выполнять там рутинные обязанности. У&nbsp;ребенка возникает стрессовая ситуация, которая не&nbsp;желательна для его здоровья, настроения и&nbsp;успешной учебы. Оптимальным вариантом для восстановления нормального физического и&nbsp;психологического состояния является в&nbsp;такой ситуации простое решение&nbsp;&mdash; купить справку 095. Если требуется освобождение от&nbsp;учебы более чем на&nbsp;три недели, дополнительно к&nbsp;справке может потребоваться выписка о&nbsp;состоянии здоровья больного (форма 027).
					+b.map-section.section
						.row
							+e.col.col-xl-5.col-6.d-none.d-md-block
								+e.IMG.section-doctor(src="img/section-doctor.png", alt="#")
							+e.col.col-xl-6.col-md-6.col
								+e.main
									+e.title.second-font Заказать справку
									+e.main-text мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время для подтверждения заказа. Вы&nbsp;получите документ в&nbsp;течение суток!
									+e.btn(href="#")
										img.btn_image(src="img/add.svg", alt="#") 
										|Заказать документ
					
				.col-xl-auto.order-xl-first.col-md-6
					+side-nav()
					+side-news("Новости и статьи")
					+side-price("Прайс-лист справок")
					+side-order-call("Обратный звонок")
				.col-xl-auto.col-md-6
					+side-order("Заказать медсправку")
					+side-search.d-none.d-xl-block()
					+side-reviews("Последние отзывы")
					+side-order-deliver()
					+side-stats()
					+side-share()
					
					
		+footer()
		+bottom-line()

