extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-work/_s-work.pug
include ../blocks/side-blocks/_side-blocks.pug

block title
	title О наших справках

block pagecontent
	.main-wrapper(style="background-image: url(img/header-bg-2.jpg)")
		//- +mob-mnu()

		+header()
			+top-line()
			+top-nav()
			+header-block-2("О наших справках","img/docs.png")

		.container.main
			+breadcrumb("Главная","О наших справках")
			.row
				.col-xl.middle-col
					img.main-side-photo(src="img/main-side-photo1.jpg", alt="#")
					.h2.second-font.page-title О НАС
					p.article-text Наш сайт&nbsp;&mdash; это прекрасная возможность для всех, кто ценит свое время и&nbsp;комфорт, получить нужный медицинский документ, заказав медсправку без лишних формальностей и&nbsp;утомительных очередей медицинских учреждений.
					p.article-text Мы&nbsp;стремимся к&nbsp;тому, чтобы наш клиент имел глоток свежего воздуха на&nbsp;территории свободной от&nbsp;бюрократических механизмов современного общества.
					p.article-text Устали, не&nbsp;хотите или просто не&nbsp;любите унылый интерьер поликлиник и&nbsp;больниц? Не&nbsp;испытываете удовольствия от&nbsp;медицинских процедур или нет времени ждать результата анализов?
					.h3.second-font.part-title КУПИТЕ МЕДИЦИНСКУЮ СПРАВКУ В НАШЕМ ЦЕНТРЕ!
					p.article-text Прогресс не&nbsp;стоит на&nbsp;месте&nbsp;&mdash; вместе с&nbsp;ним меняется и&nbsp;темп нашей жизни. Сегодня от&nbsp;человека требуется рациональное использование времени и&nbsp;быстрое принятие решений, если&nbsp;вы, конечно, не&nbsp;решили состариться стоя в&nbsp;очереди за&nbsp;очередной медсправкой, то&nbsp;просто купите эту медсправку у&nbsp;нас!
					p.article-text Купить медицинскую справку это не дань моде или привилегия немногих – это адекватный ответ времени, прогрессивное и, если хотите, смелое решение, позволяющее вам добиться более высокого качества жизни, стать успешнее, проводить больше времени с семьей или занимаясь любимым делом.
					.h2.second-font.page-title.margin-top МЕДСПРАВКИ ДОСТУПНЫЕ ДЛЯ ЗАКАЗА
					+b.docs-info
						+e.item
							+e.IMG.image(src="img/docs-info1.jpg", alt="#")
							+e.title.h3.second-font МЕДИЦИНСКИЕ СПРАВКИ ДЛЯ ВЗРОСЛЫХ
							p.article-text Работа и&nbsp;учеба&nbsp;&mdash; занятия, сопровождающие нас в&nbsp;течение всей жизни, неудивительно, что для них существует множество медицинских документов. Для трудоустройства вам могут потребоваться: личная медицинская книжка, справка 302н (медосмотр), справка 405 (работа на&nbsp;высоте), при поступлении на&nbsp;государственную службу&nbsp;&mdash; справка 001&nbsp;ГС/у, а&nbsp;для работников с&nbsp;секретной информацией&nbsp;&mdash; справка 989н (работа с&nbsp;гостайной).
							p.article-text Ученикам будут полезны: при поступлении в&nbsp;ВУЗ&nbsp;&mdash; справка 086/у, в&nbsp;случае непредвиденных обстоятельств&nbsp;&mdash; справка для академического отпуска, для закрытия прогулов&nbsp;&mdash; справка 095/у и&nbsp;справка 027/у а&nbsp;для желающих освободиться от&nbsp;физкультуры справка освобождение от&nbsp;физкультуры.
						+e.item
							+e.IMG.image(src="img/docs-info2.jpg", alt="#")
							+e.title.h3.second-font МЕДИЦИНСКИЕ СПРАВКИ ДЛЯ ДЕТЕЙ И РОДИТЕЛЕЙ
							p.article-text Как детям, так и&nbsp;взрослым требуется огромное количество всевозможных справок: устраивая ребенка в&nbsp;детский сад или школу, потребуется медицинская карта ребенка и&nbsp;карта профилактических прививок, а&nbsp;также справка от&nbsp;фтизиатра и&nbsp;справка от&nbsp;педиатра, отправляя ребенка в&nbsp;детский лагерь вам необходимо представить справку для детского лагеря, в&nbsp;санаторий&nbsp;&mdash; детская санаторно-курортная карта, а&nbsp;по&nbsp;возвращению ребенка потребуется справка о&nbsp;контактах. Тем родителям, кто решил самостоятельно вести обучение своего чада будет полезна справка для домашнего обучения, желающим усыновить или взять под опеку&nbsp;&mdash; справка для опеки. Женщинам мы&nbsp;предлагаем справку от&nbsp;гинеколога и&nbsp;справку о&nbsp;беременности.
						+e.item
							+e.IMG.image(src="img/docs-info3.jpg", alt="#")
							+e.title.h3.second-font МЕДИЦИНСКИЕ КАРТЫ
							p.article-text Повседневная жизнь часто преподносит нам &laquo;сюрпризы&raquo;&nbsp;&mdash; нужно срочно решать какую-то проблему, закрыть прогул или предоставить &laquo;алиби&raquo;&nbsp;&mdash; для этого отлично подойдет справка от&nbsp;врача в&nbsp;свободной форме. А&nbsp;для выезжающих за&nbsp;границу будет полезна справка за&nbsp;границу 082/у&nbsp;&mdash; документ необходимый при оформлении визы. Собираетесь посещать бассейн&nbsp;&mdash; заказывайте справку для бассейна. Часто бывает нужна справка КЭК&nbsp;&mdash; заключение клинико-экспертной комиссии или срочное предоставление анализов: справка форма 210/у (анализ мочи), справка форма 219/у (анализ кала) и&nbsp;справка 224/у (общий анализ крови).
							p.article-text Для владельцев огнестрельного оружия у&nbsp;нас есть справка 002&nbsp;О/у на&nbsp;оружие, а&nbsp;автовладельцам мы&nbsp;можем предложить справку 003&nbsp;В/у в&nbsp;ГИБДД.
						+e.item
							+e.IMG.image(src="img/docs-info3.jpg", alt="#")
							+e.title.h3.second-font МЕДИЦИНСКИЕ КНИЖКИ
							p.article-text Повседневная жизнь часто преподносит нам &laquo;сюрпризы&raquo;&nbsp;&mdash; нужно срочно решать какую-то проблему, закрыть прогул или предоставить &laquo;алиби&raquo;&nbsp;&mdash; для этого отлично подойдет справка от&nbsp;врача в&nbsp;свободной форме. А&nbsp;для выезжающих за&nbsp;границу будет полезна справка за&nbsp;границу 082/у&nbsp;&mdash; документ необходимый при оформлении визы. Собираетесь посещать бассейн&nbsp;&mdash; заказывайте справку для бассейна. Часто бывает нужна справка КЭК&nbsp;&mdash; заключение клинико-экспертной комиссии или срочное предоставление анализов: справка форма 210/у (анализ мочи), справка форма 219/у (анализ кала) и&nbsp;справка 224/у (общий анализ крови).
							p.article-text Для владельцев огнестрельного оружия у&nbsp;нас есть справка 002&nbsp;О/у на&nbsp;оружие, а&nbsp;автовладельцам мы&nbsp;можем предложить справку 003&nbsp;В/у в&nbsp;ГИБДД.
					+docs-offer()
					+about-block-info()
					+advantages-main-2()
					+about-block-info()
					
				.col-xl-auto.order-xl-first.col-md-6
					+side-nav()
					+side-video("Видео о нашей компании")
					+side-news("Новости и статьи")
					+side-ask("Вопрос-ответ")
					//- +side-reviews("Последние отзывы")
					//- +side-order-call("Обратный звонок")
				.col-xl-auto.col-md-6
					+side-order("Заказать медсправку")
					+side-search.d-none.d-xl-block()
					+side-price("Прайс-лист справок")
					//- +side-news("Новости и статьи")
					+side-stats()
					+side-order-deliver()
					+side-from-to("От заявки до заказа")
					//- +side-order-call("Обратный звонок")
					+side-share()
					
		+s-contact
		+footer()
		+bottom-line()

