extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-work/_s-work.pug
include ../blocks/side-blocks/_side-blocks.pug

block title
	title Заказать спарвку

block pagecontent
	.main-wrapper(style="background-image: url(img/header-bg-2.jpg)")
		//- +mob-mnu()

		+header()
			+top-line()
			+top-nav()
			+header-block-2("Купить справку","img/docs.png")

		.container.main
			+breadcrumb("Главная","Заказать справку")
			.row
				.col-xl.middle-col
					+main-order-section-2()




					
					
				.col-xl-auto.order-xl-first.col-md-6
					+side-nav()
					+side-order-deliver()
					//- +side-video("Видео о нашей компании")
					//- +side-reviews("Последние отзывы")
					//- +side-news("Новости и статьи")
					//- +side-ask("Вопрос-ответ")
					//- +side-order-call("Обратный звонок")
				.col-xl-auto.col-md-6
					//- +side-order("Заказать медсправку")
					//- +side-search.d-none.d-xl-block()
					//- +side-stats()
					//- +side-from-to("От заявки до заказа")
					//- +side-price("Прайс-лист справок")
					//- +side-share()
					//- +side-news("Новости и статьи")
					//- +side-order-call("Обратный звонок")
		+s-contact-order()
		+footer()
		+bottom-line()

