mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)



mixin breadcrumb(...items)
	nav.breadcrumb
		-for (var i = 0; i < items.length - 1; i++)
			a.breadcrumb-item(href='#')= items[i]
		span.breadcrumb-item.active=  items[items.length - 1]

		
mixin pugin()
	nav(aria-label='...')
		ul.pagination.justify-content-center.second-font
			li.page-item.disabled
				a.page-link(href='#', tabindex='-1') 
					i(class="fas fa-chevron-left")
			li.page-item.disabled
				a.page-link.d-none.d-md-block(href='#', tabindex='-1') 
					+icon("left-arrow")

			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
					span.sr-only
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3

			li.page-item
				a.page-link.d-none.d-md-block(href='#') 
					+icon("right-arrow")
			li.page-item
				a.page-link(href='#') 
					i(class="fas fa-chevron-right")
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
mixin arrow()
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
		
 
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="" target="_blank"): i(class="fab")&attributes(attributes)
		+item()(class="fa-twitter")
		+item()(class=" fa-facebook")
		+item()(class="fa-google-plus")
//- WP menu
//- mixin mnu()
//- 	- var nav= { "Наши работы":"#","Цены":"#","Калькулятор":"#","Акции":"#" ,"Заказать":"#"}
//- 	ul.menu
//- 		li.menu-item.menu-item-has-children
//- 			a(href="#") О нас
//- 			ul.sub-menu
//- 				li.menu-item: a(href="#") Строительство загородных домов
//- 				li.menu-item: a(href="#") Отделка загородных домов
//- 				li.menu-item: a(href="#") Покраска деревянных домов
//- 				li.menu-item: a(href="#") Штукатурные фасады загородных домов
//- 		each linkPatch, linkName in nav
//- 			li.menu-item: a(href="#")= linkName

mixin mnu()
	- var nav= {"Главная ":"#","Купить справку ":"#","Прайс-лист  ":"#","О справках ":"#"," Оплата и доставка  ":"#"," Отзывы ":"#"," Контакты  ":"#"}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href= linkPatch)= linkName


mixin news-block-main()
	//.news-block
	+b.news-block
		img(src="img/main-news-photo.jpg", alt="#") 
		+e.title.second-font РОЛЬ МЕДЕЦИНСКИХ СПРАВОК В&nbsp;СОВРЕМЕННОМ МИРЕ
		+e.P.main Если родители располагают достаточным количеством времени (а&nbsp;быстро медицинская справка ребенка в&nbsp;любом случае оформлена быть не&nbsp;может), они могут выполнить ряд стандартных действий:
		+e.UL.main
			li Посетить участкового педиатра или семейного врача.
			li Взять направления на прием узких специалистов (логопед, хирург, дантист, невролог, психолог, отоларинголог, дерматолог, окулист) и лабораторные исследования (общие анализы, мазки, тест на гельминты и т.п.).
			li Посетить всех перечисленных врачей и получить их заключение.
			li Сдать все необходимые анализы и получить их результаты.
			li Повторно нанести визит семейному врачу или педиатру.
			li Получить от него необходимую форму 026 У.
		+e.P.main Обратите внимание: некоторые результаты анализов (к&nbsp;примеру, мазки на&nbsp;энтеробиоз) имеют ограниченный срок годности, поэтому не&nbsp;исключено, что если вы&nbsp;вначале пройдете все лабораторные исследования, а&nbsp;потом отправитесь по&nbsp;врачам, то&nbsp;на&nbsp;момент получения справки от&nbsp;вас потребуют более &laquo;свежие&raquo; данные.
		+e.P.main Из описанной выше последовательности действий становится понятно, что для тех, кому медицинская справка ребенка нужна срочно, такой вариант неприемлем. В этом случае решением может стать быстрое оформление через наш сайт.
	// /.news-block


mixin advantages-main-2()
	//.advantages-main-2
	+b.section-col.section
		+e.IMG.logo.logo(src="img/logo.png", alt="#")
		+e.title.title.second-font Оформим сегодня, доставим завтра
		.row
			+e.col.col-sm-6
				+e.IMG.image(src="img/syringe.svg", alt="#")
				+e.title Не нужно тратить время 
				+e.main на&nbsp;запись к&nbsp;врачам, сдачу анализов и&nbsp;много других неприятных процедур.

			+e.col.col-sm-6
				+e.IMG.image(src="img/tickets.svg", alt="#")
				+e.title Никаких талончиков
				+e.main номерков, угрюмых взглядов в&nbsp;поликлинике&nbsp;&mdash; наши сотрудники ценят комфорт клиентов!
		
			+e.col.col-sm-6
				+e.IMG.image(src="img/002-clock.svg", alt="#")
				+e.title Вам не придётся бегать
				+e.main из&nbsp;одного кабинета в&nbsp;другой, пытаясь сократить время приёма и&nbsp;побыстрее вернуться к&nbsp;своим делам.
		
			+e.col.col-sm-6
				+e.IMG.image(src="img/report.svg", alt="#")
				+e.title В течение суток
				+e.main вы&nbsp;получаете необходимые подписи, печати и&nbsp;готовый документ.
		+e.btn(href="#")
			img.btn_image(src="img/add.svg", alt="#") 
			|Заказать документ
	// /.advantages-main-2


mixin docs-offer()
	//.docs-offer
	+b.docs-offer
		+e.main-block
			+e.title.h2.second-font ПРЕДЛАГАЕМ НА САМЫХ ВЫГОДНЫХ УСЛОВИЯХ 
			+e.subtitle.h2.second-font КУПИТЬ МЕДСПРАВКУ БЕЗ ПРОХОЖДЕНИЯ ВРАЧЕЙ
			+e.P.main-text Все наши преимущества нацелены исключительно на&nbsp;наших клиентов, чтобы&nbsp;Вы за&nbsp;умеренную плату и&nbsp;без потери своего личного времени своевременно получили необходимую Вам справку.
	// /.docs-offer


mixin about-block-info()
	//.news-block
	+b.news-block
		img(src="img/main-news-photo.jpg", alt="#") 
		+e.title.second-font КАК БЕЗ ПРОБЛЕМ ПОЛУЧИТЬ МЕДСПРАВКУ?
		+e.P.main Роль и&nbsp;значение всевозможных медицинских справок в&nbsp;современном мире сложно переоценить&nbsp;&mdash; практически не&nbsp;осталось уголка, в&nbsp;котором от&nbsp;вас не&nbsp;потребуется какой-либо медсправки или мед освидетельствования.
		//- +e.UL.main
		//- 	li Посетить участкового педиатра или семейного врача.
		//- 	li Взять направления на прием узких специалистов (логопед, хирург, дантист, невролог, психолог, отоларинголог, дерматолог, окулист) и лабораторные исследования (общие анализы, мазки, тест на гельминты и т.п.).
		//- 	li Посетить всех перечисленных врачей и получить их заключение.
		//- 	li Сдать все необходимые анализы и получить их результаты.
		//- 	li Повторно нанести визит семейному врачу или педиатру.
		//- 	li Получить от него необходимую форму 026 У.
		+e.P.main В&nbsp;тоже время, практически всегда медицинская справка является не&nbsp;более чем формальностью, возведенной в&nbsp;ранг обязательного условия от&nbsp;приема в&nbsp;детский садик до&nbsp;сделок с&nbsp;недвижимостью.
		+e.P.main Бюрократия, производство документов ради документов, к&nbsp;сожалению, вынуждает несчастных обывателей раз за&nbsp;разом проходить все круги ада, ничуть не&nbsp;изменившегося со&nbsp;времен Данте. Отправляясь в&nbsp;очередной раз за&nbsp;медицинской справкой, невольно задумываешься о&nbsp;том, что с&nbsp;удовольствием потратил&nbsp;бы это время на&nbsp;более приятные и&nbsp;полезные вещи.
		+e.P.main Но&nbsp;что делать&nbsp;&mdash; наши планы целиком зависят от&nbsp;пары строчек и&nbsp;печати на&nbsp;серой бумаге медицинского бланка плюс росчерк врача, которого мало интересует, сколько времени мы&nbsp;провели в&nbsp;очереди или&nbsp;то, что мы&nbsp;элементарно не&nbsp;знали, что на&nbsp;прием нужно приходить после сдачи анализов или других, не&nbsp;менее существенных нюансов.
		+e.P.main Говорить об&nbsp;этом можно бесконечно&nbsp;&mdash; важно&nbsp;то, что сегодня вы&nbsp;смело можете забыть об&nbsp;этом, добавив это к&nbsp;числу анахронизмов.
	// /.news-block


mixin news-block-main-2()
	//.news-block
	+b.news-block-main-2
		.row
			.col-12.col-md-6
				+e.IMG.photo(src="img/main-news-photo-2.jpg", alt="#")
			+e.text-col.col-12.col-md-6
				+e.title.h4.second-font Роль медицинских справок в современном мире
				+e.P.main-text Если родители располагают достаточным количеством времени (а&nbsp;быстро медицинская справка ребенка в&nbsp;любом случае оформлена быть не&nbsp;может), они могут выполнить ряд стандартных действий:
				+e.A.link(href="#") Читать статью
	// /.news-block


mixin news-block-main-mini()
	//.news-block-mini
	+b.news-block-mini
		.row
			+e.news-mini-col.col-6.col-sm-4
				+e.item
					+e.IMG.photo(src="img/doctor1.jpg", alt="#")
					+e.main
						+e.title.h4.second-font Стоит ли безоговорочно доверять врачам?
						+e.A.link(href="#") Читать статью
			+e.news-mini-col.col-6.col-sm-4
				+e.item
					+e.IMG.photo(src="img/doctor1.jpg", alt="#")
					+e.main
						+e.title.h4.second-font Стоит ли безоговорочно доверять врачам?
						+e.A.link(href="#") Читать статью
			+e.news-mini-col.col-6.col-sm-4
				+e.item
					+e.IMG.photo(src="img/doctor1.jpg", alt="#")
					+e.main
						+e.title.h4.second-font Стоит ли безоговорочно доверять врачам?
						+e.A.link(href="#") Читать статью

	// /.news-block-mini


mixin main-order-section()
	//.main-order-section
	+b.main-order-section
		+e.title.h2.second-font ЗАКАЗАТЬ СПРАВКУ
		+e.subtitle.h3.second-font ВЫБЕРИТЕ ГОРОД
		+form-wrap
			+e.SELECT.input.form-control
							option.d-none(disabled selected) Выберите город
							option 1
							option 1
							option 1
		+e.subtitle.h3.second-font ЗАПОЛНИТЕ НЕОБХОДИМЫЕ ДАННЫЕ
		.row
			+e.col.col-12.col-md-6
				+e.input-title.article-text ФИО ребенка:
				+form-wrap
					+input("","Введите полное ФИО ребенка")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Дата рождения ребенка:
				+form-wrap
					+input("","Введите в формате День/Месяц/Год")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Необходимое учебное заведение:
				+form-wrap
					+input("","Введите полное название")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Адрес по прописке / регистрации:
				+form-wrap
					+input("","Введите адрес")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Рост, вес ребенка:
				+form-wrap
					+input("","Введите в формате см, кг")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Серия, номер мед.полиса ОМС:
				+form-wrap
					+input("","Введите данные при наличиии полиса")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Какие сделаны прививки:
				+form-wrap
					+ta("Введите данные о прививках (дата, доза, название)")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Чем болел ребенок ранее:
				+form-wrap
					+ta("Например: корь, краснуха, ветрянка")
			+e.col.col-12.col-md-6
				+e.input-title.article-text ФИО отца:
				+form-wrap
					+input("","Введите полное ФИО отца")
			+e.col.col-12.col-md-6
				+e.input-title.article-text ФИО матери:
				+form-wrap
					+input("","Введите полное ФИО матери")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Дата рождения отца:
				+form-wrap
					+input("","Введите в формате День/Месяц/Год")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Дата рождения матери:
				+form-wrap
					+input("","Введите в формате День/Месяц/Год")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Образование родителей:
				+form-wrap
					+input("","Введите образование отца и матери")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Контактный телефон для связи:
				+form-wrap
					+input("","Введите номер телефона")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Место доставки:
				+form-wrap
					+input("","Введите станцию метро или адрес")
			+e.col.col-12.col-md-6
				+e.input-title.article-text Дополнительная информация:
				+form-wrap
					+input("","Желаемое время доставки и т.д.")
		+b.price-btn
						+e.btn(href="#")
							img.btn_image(src="img/add.svg", alt="#") 
							|Заказать документ
	// /.main-order-section


mixin main-order-section-2()
	//.main-order-section
	.order-page
		+b.main-order-section
			+e.subtitle.h2.second-font ВЫБЕРИТЕ НЕОБХОДИМУЮ СПРАВКУ
			+form-wrap
				+e.SELECT.input.form-control
								option.d-none(disabled selected) Менская карта ребенка (фора 026/у)
								option 1
								option 1
								option 1
				span.price-title.h3.second-font СТОИМОСТЬ:
				span.price.h3.second-font 2000 РУБ.
			+e.subtitle.h2.second-font ВЫБЕРИТЕ ГОРОД
			+form-wrap
				+e.SELECT.input.form-control
								option.d-none(disabled selected) Выбрать город
								option 1
								option 1
								option 1
			+e.subtitle.h2.second-font ЗАПОЛНИТЕ НЕОБХОДИМЫЕ ДАННЫЕ
			.row
				+e.col.col-12.col-md-6
					+e.input-title.article-text ФИО ребенка:
					+form-wrap
						+input("","Введите полное ФИО ребенка")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Дата рождения ребенка:
					+form-wrap
						+input("","Введите в формате День/Месяц/Год")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Необходимое учебное заведение:
					+form-wrap
						+input("","Введите полное название")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Адрес по прописке / регистрации:
					+form-wrap
						+input("","Введите адрес")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Рост, вес ребенка:
					+form-wrap
						+input("","Введите в формате см, кг")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Серия, номер мед.полиса ОМС:
					+form-wrap
						+input("","Введите данные при наличиии полиса")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Какие сделаны прививки:
					+form-wrap
						+ta("Введите данные о прививках (дата, доза, название)")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Чем болел ребенок ранее:
					+form-wrap
						+ta("Например: корь, краснуха, ветрянка")
				+e.col.col-12.col-md-6
					+e.input-title.article-text ФИО отца:
					+form-wrap
						+input("","Введите полное ФИО отца")
				+e.col.col-12.col-md-6
					+e.input-title.article-text ФИО матери:
					+form-wrap
						+input("","Введите полное ФИО матери")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Дата рождения отца:
					+form-wrap
						+input("","Введите в формате День/Месяц/Год")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Дата рождения матери:
					+form-wrap
						+input("","Введите в формате День/Месяц/Год")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Образование родителей:
					+form-wrap
						+input("","Введите образование отца и матери")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Контактный телефон для связи:
					+form-wrap
						+input("","Введите номер телефона")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Место доставки:
					+form-wrap
						+input("","Введите станцию метро или адрес")
				+e.col.col-12.col-md-6
					+e.input-title.article-text Дополнительная информация:
					+form-wrap
						+input("","Желаемое время доставки и т.д.")
			+b.price-btn
							+e.btn(href="#")
								img.btn_image(src="img/add.svg", alt="#") 
								|Заказать документ
	// /.main-order-section


mixin main-section-info-1()
	//.main-section-info-1
	+b.main-section-info-1
		.row
			.col-5
			+e.col.col
				+e.IMG.logo(src="img/footer_logo.png", alt="#")
				+e.text.article-text Какая&nbsp;бы справка вам ни&nbsp;была нужна и&nbsp;куда&nbsp;бы ни&nbsp;требовалось ее&nbsp;представить, обратившись к&nbsp;нам, вы&nbsp;можете быть абсолютно уверены, что ваш документ будет оформлен в&nbsp;строгом соответствии с&nbsp;нормами: мы&nbsp;выдаем медицинские справки на&nbsp;бланках со&nbsp;всеми необходимыми степенями защиты, и&nbsp;подлинность выданных нами документов не&nbsp;полежит ни&nbsp;малейшему сомнению.
	// /.main-section-info-1




